// COLORS

// ========PRIMARY========
$prmy_red: hsl(0deg, 78%, 62%);
$prmy_cyan: hsl(180deg, 62%, 55%);
$prmy_orange: hsl(34deg, 97%, 64%);
$prmy_blue: hsl(212deg, 86%, 64%);

// ========NEUTRAL========
$newt_grey_dark: hsl(234deg, 12%, 34%);
$newt_grey_lght: hsl(212deg, 6%, 44%);
$newt_white: hsl(0deg, 0%, 100%); // For consistency...otherwise unnecessary.