@use "../utils/variables";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.625em 2em;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.header {
    max-width: 33.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 4.625em;

    &__preamble {
        font-size: 2rem;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.25px;
        color: variables.$newt_grey_dark;

        &--subtle {
            font-weight: 200;
            color: variables.$newt_grey_lght;
        }
    }

    &__description {
        margin-top: 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 140%;
        color: variables.$newt_grey_dark;
    }
}

@media screen and (max-width: 708px) {
    .header {
        max-width: 24.75em;

        &__preamble {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 708px) {
    
    content {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        justify-items: center;
    }

    #sup_card {
        grid-column: 1;
        grid-row: 2;
    }
    #team_card {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    #karma_card {
        grid-column: 2;
        grid-row: 2;
    }
    #calc_card {
        grid-column: 1 / 3;
        grid-row: 3;
    }

}

@media screen and (min-width: 1038px) {

    content {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;
        justify-items: center;
    }

    #sup_card {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    #team_card {
        grid-column: 2;
        grid-row: 1;
    }

    #karma_card {
        grid-column: 2;
        grid-row: 2;
    }

    #calc_card {
        grid-column: 3;
        grid-row: 1 / 3;
    }

}