@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}